<!DOCTYPE html>
<html lang="en">

<head>

    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

<body>

    <div class="main-content">


        {{>header}}
        <p>this site was created by utsav k baghel. It uses data from mapbox.com and accuweather api </p>
        <img class="portrait" src="/img/me.jpg">
        <p> created by {{name}}</p>





    </div>


    {{>footer}}

</body>

</head>

</html>